<div class="hc-backdrop" (click)="cancelar()">
  <div class="hc-card" (click)="$event.stopPropagation()">
    <button class="hc-close" type="button" (click)="cancelar()" aria-label="Cerrar">✕</button>

    <div class="hc-head">
      <div class="hc-badge">Historial Clínico</div>
      <h2 class="hc-title">Editar consulta</h2>
      <p class="hc-sub">Corrige la información registrada.</p>
    </div>

    <div class="hc-msg">
      <p class="err" *ngIf="errorMsg">{{ errorMsg }}</p>
      <p class="ok" *ngIf="okMsg">{{ okMsg }}</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="hc-form">
      <div class="hc-grid">
        <div class="hc-field">
          <label>Fecha y hora</label>
          <input type="datetime-local" formControlName="fechaLocal" />
        </div>

        <div class="hc-field">
          <label>Veterinario</label>

          <select formControlName="id_veterinario" [disabled]="cargandoVets">
            <option value="" disabled>
              {{ cargandoVets ? 'Cargando veterinarios...' : 'Seleccione...' }}
            </option>

            <option *ngFor="let v of vets" [value]="v.id">
              {{ v.usuario?.nombre_completo }} · {{ v.especialidad }}
            </option>
          </select>
        </div>

        <div class="hc-field hc-span2">
          <label>Motivo de consulta</label>
          <input type="text" formControlName="motivo_consulta" />
        </div>

        <div class="hc-field">
          <label>Peso en consulta (kg)</label>
          <input type="number" step="0.1" min="0" formControlName="peso_en_consulta" />
        </div>

        <div class="hc-field">
          <label>Temperatura (°C)</label>
          <input type="number" step="0.1" min="0" formControlName="temperatura" />
        </div>

        <div class="hc-field hc-span2">
          <label>Diagnóstico</label>
          <textarea rows="2" formControlName="diagnostico"></textarea>
        </div>

        <div class="hc-field hc-span2">
          <label>Tratamiento</label>
          <textarea rows="2" formControlName="tratamiento"></textarea>
        </div>

        <div class="hc-field hc-span2">
          <label>Observaciones</label>
          <textarea rows="2" formControlName="observaciones"></textarea>
        </div>
      </div>

      <div class="hc-actions">
        <!-- <button type="button" class="btn-ghost" (click)="cancelar()">Cancelar</button> -->
        <button type="submit" class="btn-primary" [disabled]="cargando || cargandoVets || vets.length === 0">
          {{ cargando ? 'Guardando...' : 'Guardar cambios' }}
        </button>
      </div>
    </form>
  </div>
</div>
