<div class="admin-page">
  <div class="admin-content">
    <h1 class="title">Menú de opciones</h1>
    <div class="content">

        
    <div class="buttons">
       <button class="btn" (click)="irPacientes()">Administrar pacientes</button>
      <button class="btn" routerLink="/agenda">Administrar agenda</button>
      <button class="btn" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>

    <img
      src="/assets/cat-menu.svg"
      alt="Gatito administrador"
      class="admin-cat"
    />
    </div>

  </div>
</div>
